.coursecard-grid {
  /* position: relative; */
  width: 1274.45px;
  /* max-height: 1812px; */
  margin: auto;
  margin-top: 58px;
  /* top: 34.2px; */

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.coursecard-unit {
  /* position: absolute; */
  width: 411px;
  height: 482.15px;

  background: #ffffff;
  border-radius: 10px;
}

.like-btn.selected {
  width: 34px;
  height: 30px;
  background-image: url(../images/coursecard/LikeBold.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.like-btn {
  width: 34px;
  height: 30px;
  border: 0;
  background-color: #fff;
  background-image: url(../images/coursecard/Like.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.like-btn:focus {
  outline: 0;
}

.showMoreButton {
  background-color: #fdbe67;
  border-radius: 10px;
  color: #121921;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  border: 0px;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.showMoreBlock {
  height: 100px;
  /* padding-bottom: 100px; */
}
