.filters-grid{

padding: 0px 0px 40px 0px;
}

.courseFilters {
  background-color: #121921 !important;
  width: 100%;
left: 0px;
top: 0px;

}

.rowFilters {
  padding: 20px 10px 20px 10px;
}

option{
width: 210px;
height: 46px;
}

.priceInput{
  background-color: white !important;
}