.filters-grid{
padding: 0px 0px 40px 0px;

}

.courseFilters {
  background-color: #121921 !important;
  position: fixed;
  z-index: 1;
  min-width:100%;
  max-width: 100%;
  left: 0;
  top: 204px;
}



.rowFilters {
  padding: 20px 10px 20px 10px;
}

option{
width: 210px;
height: 46px;
}

.priceInput{
  background-color: white !important;
}

.priceInput::-webkit-input-placeholder {
    color:  #2C3552 50% !important;
}
.priceInput:-moz-placeholder {
    /* FF 4-18 */
    color:  #2C3552  !important;
    opacity: 1;

}
.priceInput::-moz-placeholder {
    /* FF 19+ */
    color:  #2C3552  !important;
    opacity: 1;
}
.priceInput:-ms-input-placeholder {
    /* IE 10+ */
    color:  #2C3552  !important;
}
.priceInput::-ms-input-placeholder {
    /* Microsoft Edge */
    color:  #2C3552  !important;
 }
.priceInput::placeholder {
    /* modern browser */
    color:  #2C3552  !important;
}

.rowFilters select{
    color:  #2C3552  !important;
}
