.tabsMyAcc {
    background-color: white;
    border: 1px solid #121921;
    color: black !important;
    margin-top: 20px;
    font-size: 18px;
}

.tabsMyAcc.active {
    background-color: #fdbe67 !important;
    border: 1px solid #fdbe67;
    color: black !important;
    outline: none !important;

}

.tab_content {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
  }

 .settingsPlaceholder {
     background-color: white;
     color:black;
 }

 .settingsButton {
    background: #FDBE67;
    border-radius: 10px;
    color: black;
    border: 0px;
    padding: 10px 40px 10px 40px;
 }

 .settingsButton:hover {
    background: #FDBE67;
    border-radius: 10px;
    color: black;
    border: 0px;
 }

 .h3Settings {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 37px;
     line-height: 56px;
     display: flex;
     align-items: center;
     letter-spacing: -0.015em;
     
     color: #000000;
 }

 .formSettings {
    margin-bottom: 20px;
  }

  .inputSettings {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white !important;
    color: black !important;
    border-bottom: 1px solid #000000 !important;
    border-radius: 0px !important;
  }

  .inputSettings{
    background-color: white !important;
  }
  
  .inputSettings::-webkit-input-placeholder {
      color:  #000000 50% !important;
  }
  .inputSettings:-moz-placeholder {
      /* FF 4-18 */
      color:  #000000  !important;
      opacity: 1;
  
  }
  .inputSettings::-moz-placeholder {
      /* FF 19+ */
      color:  #000000  !important;
      opacity: 1;
  }
  .inputSettings:-ms-input-placeholder {
      /* IE 10+ */
      color:  #000000  !important;
  }
  .inputSettings::-ms-input-placeholder {
      /* Microsoft Edge */
      color:  #000000  !important;
   }
  .inputSettings::placeholder {
      /* modern browser */
      color:  #000000  !important;
  }

  .bigUserPhoto {
      border: 2px solid #000000;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
  }

  .smallUserPhoto {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.settingsPhotoButton {
    background: #FDBE67;
    border-radius: 10px;
    color: black;
    border: 0px;
    width: 100%;
    margin-top: 10px;
 }

 .settingsPhotoButton:hover {
    background: #FDBE67;
    border-radius: 10px;
    color: black;
    border: 0px;
 }

 .settingsRightButton {
    width: 100%;
    background: #FDBE67;
    border-radius: 10px;
    color: black;
    border: 0px;
    padding: 10px 40px 10px 40px;
 }

 .settingsRightButton:hover {
    background: #FDBE67;
    border-radius: 10px;
    color: black;
    border: 0px;
 }
