.logo-head {
  position: relative;
  width: 117px;
  height: 68.32px;
}

.nav-background {
  /* min-width: 100%; */
  /* position: absolute; */
  /* width: 1440px; */
  height: 102px;
  left: 0px;
  top: 0px;
  background: #121921;

}

.btn-light {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
}

.btn-xl {
  height: 37px;
  width: 122.57px;
  border-radius: 6px;
}

.search {
  width: 80%;
}

/* .search input {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #fdbe67;
} */

.search.input-group {
  border-bottom: 3px solid #fdbe67;
}

.form-control {
  background-color: transparent;
  border: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

#search::-webkit-input-placeholder {
  color: #fdbe67;
}

.form-control::-moz-placeholder {
  color: #ccc;
}

.form-control:focus {
  background-color: #121921;
  border: 0;
  box-shadow: none;
}

.navButton {
  background-color: transparent;
  border: 0px;
  color: #fdbe67;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.navButton:hover {
  background-color: transparent;
  border: 0px;
  color: #fdbe67;
  width: 100%;
  padding: 0px;
}

.navButton:focus {
  background-color: transparent;
  border: 0px;
  color: #fdbe67;
  width: 100%;
  padding: 0px;
  outline: none;
  box-shadow: none;
}

.navButton:active::after {
  background-color: transparent;
  border: 0px;
  color: #fdbe67;
  width: 100%;
  padding: 0px;
}

.navLink {
  color: #fdbe67;
}
.coursesButton {
  background-color: #fdbe67;
  border-radius: 10px;
  color: #121921;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  border: 0px;
}

.coursesButton:hover {
  background-color: #fdbe67;
  color: #121921;
}


.imgButton {
  width: auto;
  height: 39px;
}

.changeStyleSwitch {
  transform: rotate(-90deg);
}

.colFilters {
  padding: 0px;
}

.colNavButtons {
  padding: 0px;
  height: 70px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

p {
  margin-bottom: 0px;
}

.dropDownIcon {
  width: 16px;
  line-height: 16px;
  display: block;
  float: left;
  padding-top: 4px;
  margin-right: 4px;
}