.logo-head {
  position: relative;
  width: 164.4px;
  height: 96px;
  left: 11px;
  top: 0px;
}

.nav-background {
  /* min-width: 100%; */
  /* position: absolute; */
  /* width: 1440px; */
  height: 102px;
  left: 0px;
  top: 0px;
  background: #121921;
}

.btn-light {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
}

.btn-xl {
  height: 37px;
  width: 122.57px;

  border-radius: 6px;
}

.search {
  width: 60%;
}

/* .search input {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #fdbe67;
} */

.search.input-group {
  border-bottom: 3px solid #fdbe67;
}

.form-control {
  background-color: #121921;
  border: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

input[type="text"]::-webkit-input-placeholder {
  color: #fdbe67;
}

.searchButton {
  background-color: #fdbe67;
  border: 0cm;
  color: #ffffff;
}

.searchButton:hover {
  background-color: #fdbe67;
  border: 0cm;
  color: #ffffff;
}
