body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar, .navbar-default{
 background: #003399;
}

.carousel-item img{
    width: 1390px;
    height: 420px;
    left: 26px;
    top: 24px;
}

.logo{
    width: 50%;
    height: 50%;
}

.card{
    width: 422.94px;
    height: 482.15px;
    border: "2px solid #003399"
}

.courseFilters {
  background-color: #2757B7 !important;
  /*padding: 30px 0 30px 0;*/
  width: 100%;
}

.rowFilters {
  padding: 20px 0px 20px 20px;
}

option{
width: 210px;
height: 46px;
}


.footer {
  margin-left:0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background: #003399;
}

nav.ml-auto{
    text-align: right;
}

